body {
	font-family: 'anton', sans-serif;
}

#quiz {
	
	padding: 20px 40px 20px 40px;
	background: #0669cd;
	width: 100%;
	text-align: center;
}


h1 {
	text-align: center;
}

#picture {
	width:400px;
	margin-left: auto;


}

#div {
	text-align:center;
}


#after_submit {
	background:#4293ec;
	width:100%;
}


#after_submit {
	text-align: center;
	padding:20px 40px 20px 40px;
}















#after_submit {
	visibility: hidden;

}